# Repository specific
test/build/
config.h

# Build artifacts
*.o
*.a
*.so
*.exe
*.pdb
*.ilk
*.dll
*.dylib
*.out
*.app
*.obj
*.lib

# IDE and Editor files
.vscode/
.idea/
compile_commands.json
*.swp
*~
*.bak

# OS files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
venv/
.venv/

# Environment files
.env
.env.*
